# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment
.env

# Docker
*.log

# IDE
.vscode/
.idea/
.DS_Store

# Base de données locale
*.db
*.sqlite3

# Certificats HTTPS locaux
frontend/certs/
